<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=
                 "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="rest" version="3.0">

    <!-- web.xml is a file that configures a web application in a servlet container. Thus not unique to Spring -->

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- Use java based configuration -->
        <param-value>org.xezz.timeregistration.config.AppConfig</param-value>
       <!-- <param-value>/WEB-INF/timeregistration-servlet.xml</param-value>-->
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>timeregistration</servlet-name>
        <!-- FIXME: nothing there yet, create either the class or fix it in another way ... -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>org.xezz.timeregistration.config.WebConfig</param-value>
        </init-param>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>timeregistration</servlet-name>
        <!-- TODO: decide in the real pattern for url's -->
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file />
    </welcome-file-list>

</web-app>